{% extends 'base.html.twig' %}
{% block body %}
<br>
    <div class="offset-sm-1 offset-lg-3 col-sm-11 col-lg-5">
    <h3>Neu Adresse erstellen</3>
    <br><br>
    {{ form(user_form) }}
    </div>
    
{% endblock %}
